{% extends 'base.html' %}

{% block title %}
Add movie
{% endblock %}

{% block content %}

<form action="" method="post">
    {% csrf_token %}
    <label>Title:
        <input type="text" name="title">
    </label>
    <label>Director:
        <select name="director">
            {% for person in persons %}
            <option value="{{person.id}}">
                {{ person.first_name }} {{person.last_name}}</option>
            {% endfor %}
        </select>
    </label>
    <label>Screenplay:
        <select name="screenplay">
            {% for person in persons %}
            <option value="{{person.id}}"> {{ person.first_name }} {{person.last_name}}</option>
            {% endfor %}
        </select>
    </label>
    <label>Starring:
        <select name="starring">
            {% for person in persons %}
            <option value="{{person.id}}"> {{ person.first_name }} {{person.last_name}}</option>
            {% endfor %}
        </select>
    </label>
    <label>Role:
        <input type="text" name="role">
    </label>
    <label>Year:
        <input type="number" name="year" value="1900">
    </label>
    <label>Rating:
        <input type="number" name="rating" value="0.0" min="0" max="10" step="0.1">
    </label>
    <label>Genre:
        <select name="genre">
            {% for genre in genres %}
            <option value="{{ genre.id }}">{{ genre }}</option>
            {% endfor %}
        </select>
    </label>
    <input type="submit" value="Add" name="action">
</form>

<a href="/main-page"><h3>Back to main page</h3></a>

{% endblock %}}